$baseUrl: '~@/assets/';
/* 不带单位正常颜色，D颜色较深(D2,D3越深),S颜色较浅(S2,S3越浅) */
$main: ( 
	50: #e3f2fd,
	100: #bbdefb,
	200: #90caf9,
	300: #64b5f6,
	400: #42a5f5,
	500: #2196f3,
	600: #1e88e5,
	700: #1976d2,
	800: #1565c0,
	900: #0d47a1,
	A100: #82b1ff,
	A200: #448aff,
	A400: #2979ff,
	A700: #2962ff,
);
$color: (
	100: #f44336,
	200: #fff,
	300: #333,
	400: #E0E0E0,
	500:#767676,
);
$calendar:(
	100: #fff,
	200: #1ABC9C,
	300:#2B94E7,
	400: #333333,
	500:#767676,
	600:#f1f1f1
);
$askTab:(
	100: #454553,
	200: #999,
	300: #fff
);

$scrollbar:(
	100: #fff,
	200: #1ABC9C,
	300:#2B94E7,
	400: #333333,
	500:#767676,
	600:#f1f1f1
);

$loader:(
	100S1: #3498db,
	100: #2980b9,
	200S1: #e67e22,
	200: #d35400,
	300S1: #95a5a6,
	300: #7f8c8d,
	400S1:#34495e,
	400:#2c3e50,
	500S1:#1abc9c,
	500:#16a085,
	600:#c0392b
);
